*~
*.msgpack
*.DS_Store
node_modules/*
npm-debug.log
platforms/*
plugins/*
runtime.exe
www/runtime.js
www/runtime.js.map
www/bundle.js
www/bundle.js.map
release-builds/
project.msgpack
assets/images/pictures/sharephoto01.gal
assets/images/pictures/sharephoto02.gal
assets/images/pictures/sharephoto03.gal
assets/images/pictures/sharephoto04.gal
assets/images/pictures/sharephoto05.gal
assets/images/pictures/sharephoto06.gal
build-Splash-Desktop_x86_darwin_generic_mach_o_64bit-Debug
*.pro.user.*